* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

#weather-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inweather {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 150px;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: grid;
    align-items: center;
    justify-items: center;
}

input {
    color: white;
    border-bottom: 1px solid grey;
    background-color: transparent;
    justify-content: center;
}

::placeholder {
    color: white;
    font-weight: 700;
}

.weather {
    display: grid;
    justify-items: center;
    align-self: start;
}

.weather img {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 55px;
    margin-top: 15px;
}